html {
	height: 100%;
}

body {
	height: 100%;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
}

*::selection {
	background-color: orange;
}

h1 + p, h2 + p, h3 + p, h4 + p, h5 + p, h6 + p {
	margin-top: 0;
	padding-top: 0;
}

nav {
	background-color: orange;

}



.upper-menu {
	display: inline;
	position: relative;
}

.lower-menu {
	display: none;
	background-color: yellow;
	position: absolute;
	left: 1px;
	padding: 0px;
	margin: 0px;
	text-align: center;
}

.lower-menu li {
	display: block;
	list-style: none;
}

.upper-menu:hover > .lower-menu{
	display: block;
}

.wrapper {
	width: 80%;
	height: 100%;
	margin: 0 auto;
}

input[type="radio"] {
	display: none;
}

input[type="radio"]+label {
	display: inline-block;
	cursor: pointer;
	background-color: yellow;
	width:29%;
	margin: 0 auto;
	text-align: center;
}

input[type="radio"]:checked+label {
	font-weight:bold;
}

input[id="radioLeft"]:checked ~ nav{
	float: left;
	width: 15%;
	margin-top: 10px;
}

input[id="radioLeft"]:checked ~ nav .upper-menu{
	display: block;
}

input[id="radioLeft"]:checked ~ nav .upper-menu .lower-menu{
	left: 100%;
	margin-top: -1em;
}

input[id="radioLeft"]:checked ~ .wrapper{
	float: left;
	margin-top: 10px;
	margin-left: 10px;
}

input[id="radioRight"]:checked ~ nav{
	float: right;
	width: 15%;
	margin-top: 10px;
}

input[id="radioRight"]:checked ~ nav .upper-menu{
	display: block;
}

input[id="radioRight"]:checked ~ nav .upper-menu .lower-menu{
	left: -70%;
	margin-top: -1em;
}

input[id="radioRight"]:checked ~ .wrapper{
	float: right;
	margin-top: 10px;
	margin-right: 10px;
}


.container {
	float: left;
	width: 60%;
	height: 100%;
}

.container main {
	box-sizing: border-box;
	float: right;
	width: 79%;
	background-color: gray;
	padding-left: 5%;
	margin-left: 1%;
	height: 100%;
}

.container aside {
	box-sizing: border-box;
	float: left;
	background-color: gray;
	width: 20%;
	height: 100%;
	overflow: hidden;
}

.container + aside {
	float: left;
	background-color: gray;
	width: 39%;
	margin-left: 1%;
	height: 100%;
}

footer {
	float: left;
	width: 100%;
	margin-top: 10px;
	clear: both;
	background-color: gray;
}


ul li:last-child a:hover {
	display: inline-block;
	color: green;
	-webkit-animation: wobble .5s ease-in-out infinite;
	animation: wobble .5s ease-in-out infinite;
}

.pop:hover {
	display: inline-block;
	color: red;
	-webkit-transform: scale(2);
	transform: scale(2);
}


@-webkit-keyframes wobble { 
	33% { 
		-webkit-transform:rotate(2deg); 
	} 
	66% { 
		-webkit-transform:rotate(-2deg); 
	} 
}

@keyframes wobble { 
	33% { 
		transform:rotate(2deg); 
	} 
	66% { 
		transform:rotate(-2deg); 
	} 
}